.nav {
    color: black;
    border-radius: 28px;
    text-transform: none;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    line-height: 19px;
    &:hover {
        color: #C9A96E;
    }
}

.menu_width {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: #C9A96E;
    }
}