[class*="_category"] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'PT Serif', serif;
    font-size: 15px;
    line-height: 35px;
    margin: 0 0 7px 0;
    border-radius: 21px;
    height: 35px;
    &:hover {
        color: #C9A96E;
    }
  }

  .category_border {
    border: 1px solid #E5E5E5;
    margin-bottom: 7px;
  }