.main_article_background {
    background: url("../../assets/Main_article.png") no-repeat;
    height: 349px;
}

.main_article {
    width: 770px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
    margin-bottom: 30px;
    cursor: context-menu;
}
.main_article_container {
    background-color: white;
    padding: 25px 0px 25px 50px;
}

// .main_article_category {
//     font-family: 'PT Sans', sans-serif;
//     font-size: 17px;
//     line-height: 16px;
//     color: #C9A96E;
//     text-transform: uppercase;
//     margin: 0px 0px 6px 0px;
// }

.main_article_title {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 26px;
    color: black;
    margin: 0px 0px 11px 0px;
}

.date_row {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    margin: 0px 0px 14px 0px;
}

.article_main {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: black;
    margin: 0px 100px 0px 0px;
}

.main_article_button {
    text-transform: lowercase;
    vertical-align: baseline;
    font-family: 'PT Serif', serif;
    font-size: 12px;
    line-height: 16px;
    padding: 0px 6px;
    border-radius: 14%;
}

.comment_link {
    color: blue !important;
}